{% comment %} {% extends 'news/base.html' %}
{% load static %}

{% block title %}
    <title>Parolni tiklash</title>
{% endblock title %}


{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolingizni tiklash uchun formani to'ldiring</p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting.</p>
        <form action="#" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz notog'ri linkdan foydalandingiz. U avvalroq foydalanilgan bo'lishi va ishlatish vaqti o'tib ketgan bo'lishi mumkin.</p>
    {% endif %}
        
{% endblock content %}
    
     {% endcomment %}

     {%block content%}

     <div class="center">
         <form method="post" class="card">
           {% csrf_token %}
           <h2>Password Reset Confirm</h2>
           
           {% for field in form %}
                     {{ field.label_tag }} 
                     {{ field }}
                     {% if field.errors %}
                         <small>{{ field.errors|striptags  }}</small> 
                     {% endif %}
             {% endfor %}
           
           
           <div>
             <button type="submit" class="btn btn-primary">Reset Password</button>
           </div>
         </form>
     </div>
     
     
     {%endblock content%}