{% extends 'news/base.html' %}
{% load static %}

{% block title %}<title>Admin page</title>{% endblock %}

{% block content %}
    <h1>Admin sahifasi</h1>
    <h3>Barcha adminlar</h3>
    <table>
        <tr>
            <th>Username</th>
            <th>Ism</th>
            <th>Familiya</th>
        </tr>
        {% for user in admin_user %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %}
    </table>




{% endblock content %}
