{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>Mahalliy yangiliklar</title>{% endblock %}

{% block content %}
    <h2>Mahalliy yangiliklar</h2>
    {% for local in mahalliy_yangiliklar %}
        <div class="container">
            <a class="row" style="margin: 10px;" href="{{ local.get_absolute_url }}">
                <div class="col-sm-4">
                    <img src="{{ local.image.url }}" alt="{{ local.title }}" style="width: 300px;">
                </div>
                <div class="col-sm-6">
                    <h3>{{ local.title }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock content %}